#content{
  color: #444;
  width: 100%;
  padding: 5px;
  flex: 4;
}

#content {
  transition-duration: 250ms;
}

#blog-posts-list {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 15pt;
}

#blog-posts-list a{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blog-post-listing {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  padding: 15px;
  border-radius: 10px;
  gap: 10px;
  background-color: #f6f6f6;
}

.blog-post-listing:hover {
  background-color: #eee;
  margin-bottom: 10px;
  padding: 25px;
}

.blog-post-listing:hover .bottom{
  transition: max-height 2000ms ease-out;
  max-height: 200px;
  visibility: visible;
}

.blog-post-listing .top {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}

.blog-post-listing .top .title {
  text-overflow: ellipsis;
  word-wrap: normal;
  white-space: nowrap;
  overflow: hidden;
  color: #444;
}

.blog-post-listing .top .date {
  min-width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  color: #444;
}

.blog-post-listing .bottom {
  color: #666;
  font-size: 13pt;
  max-height: 0;
  transition: max-height 200ms ease-out;
  visibility: hidden;
}

pre {
  background-color: #eee;
  padding: 10px;
  border-radius: 5px;
}

code  {
  padding: 2px;
  background-color: rgb(255, 221, 221);
  color: rgb(196, 62, 62);
  border-radius: 4px;
  padding-right: 5px;
  padding-left: 5px;
}

pre code {
 padding: 0;
 background-color: inherit;
 color: inherit;
 border-radius: 0;
}

blockquote {
  border-left: 5px solid #eee;
  margin: 0;
  padding: 0px 8px;
}

h1 {
  margin: 5px;
}

.post-content a {
  color: #444;
}

table tr th {background:#222; color:#fff; padding:0; border:#111 solid 1px;  text-align: center; font-weight: bold;}
table tr td {border:1px #ccc solid; padding:5px;}
table tr td.rightright {background: #eee;}
table tr td h4 {margin:0; padding:0; font-weight:normal;}

table {
  margin-bottom: 2em;
  width: 100%;
}
th {
  border-bottom: 2px solid #ccc;
  font-weight: bold;
  text-align: left;
}
td { border-bottom: 1px solid #ddd; }
caption, th, td {
  padding: 4px 10px 4px 0;
}
caption {
  background: #f1f1f1;
  padding: 10px 0;
  margin-bottom: 1em;
}

tr,td,th {
  vertical-align: middle;
}

/* Use this if you use span-x classes on th/td. */
table .last { padding-right: 0; }
