/*
  Color Pallet
  #280003
	#c2847a
	#848586
	#baa898
	#eee0cb

*/

:root {
    --color1 : #1f2125;
    --color2 : #ffffff;
    --color3 : #a4a4a4;
    --color4 : #777;
    --color5 : #dfdfdf;
    --color6 : #cfcfcf;

    --font-normal: 12pt;
    --font-emphasis: 12pt;

}

/** DEBUG **/
* * {
    border: 0px solid black;
}

* {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

html {
    width: 100vw;
    height: auto;
    background: var(--color2);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

a {
  color: var(--color4);
}

.fill {
  min-width: 100%;
  min-height: 100%;
}

.shadow {
    -webkit-box-shadow: 0px 0px 52px -20px rgba(64,64,64,1);
    -moz-box-shadow: 0px 0px 52px -20px rgba(64,64,64,1);
    box-shadow: 0px 0px 52px -20px rgba(64,64,64,1);
}

.nav {
    transition: 150ms;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav a {
    transition: 150ms;
    font-size: 10pt;
    margin: 10px;
}

.nav-name {
    transition: 150ms;
    font-size: 10pt;
    margin-left: 5px;
}

.nav-active * {
    color: var(--color1);
}

.nav a:hover * {
    color: var(--color1);
    font-size: 12pt;
}

body {
    width: 55%;
    height: auto;
    background: var(--color2);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    letter-spacing: 1px;
}

.header {
    width: 100%;
    min-height: 200px;
    height: auto;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.c-section {
    margin: 10px;
    padding: 20px;
}

.logo {

    max-width: 98%;
    width: 500px;
    height: auto;
    margin: 10px;
    border-radius: 1px;
}

.tagline {
    color: var(--color4);
    letter-spacing: 1px;
    word-spacing: 7px;
    max-width: 95%;
    text-align: center;
    margin-top: 0;
    padding: 0;
    font-size: 12pt;
    font-weight: 400;
}

.summary {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.avatar {
    transition: 0.4s;
    width: 100px;
    height: 100px;
    background: url("/media/avatar.jpg");
    background-size: 100% 100%;
    border-radius: 50%;
}

.avatar:hover, .avatar-extended {
    width: 300px;
    height: 300px;
    border-radius: 5px;
}

.about p {

    color: var(--color4);
}

#footer {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.projects {

    width: 100%;
    /* display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap; */
    -moz-columns: 2;
    -webkit-columns: 2;
    columns: 2;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
    column-gap: 1em;

}

.project-item img {
    transition: 0.5s;
    width: 100%;
    height: auto;
}

.project-item {
    -webkit-transition: 0.3s !important;
    -moz-transition: 0.3s !important;
    transition: 0.3s !important;
    background: var(--color5);
    min-width: 200px;
    height: auto;
    margin-bottom: 5%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 2px;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    /* Firefox is dumb */
    break-inside: avoid;
    overflow: hidden;

    -webkit-box-shadow: 0px 0px 7px 6px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0px 0px 7px 6px rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 7px 6px rgba(0, 0, 0, 0);
}


.project-item:hover {
    min-width: 250px;
    -webkit-box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.25);
    background: var(--color6);
}

.project-item .title {
    width: auto;
    color: #333;
    margin: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.title * {
    transition-duration: 0.3s;
    color: #555;
    margin-right: 10px;
}

.title a:hover {
    color: #222;
}

.project-item .colabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.tech-stack {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0px;
}

.tech-stack * {
    color: #888;
    margin-right: 7px;
}

.colabs a {
    transition-duration: 0.3s;
    padding-right: 3px;
    padding-left: 3px;
    margin-right: 2px;
    margin-left: 2px;
    font-size: 9pt;
    color: #777;
    border: 1px solid rgba(119, 119, 119, 0);
}

.colabs a:hover {
    border: 1px solid rgba(122, 122, 122, 0.459);
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 8px;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid var(--color3);
    min-width: 50px;
    width: auto;
}

.links i {
    margin-right: 5px;
}

.links a {
    margin: 0px 10px 8px 10px;
    font-size: 9pt;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.links a:hover * {
    transition: 0.25s;
    color: #222;
    font-size: 9pt;
}

.links span {

}

.github {
    color: #9d26e2;
}

.full-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #333;
  font-weight: 100;
}

.center-text {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

@media(max-width:1000px) {
    body {
        width: 95%;
    }

    .about {
        width: 100%;
    }

    .projects {
        -moz-columns: 0;
        -webkit-columns: 0;
        columns: 0;
        -moz-column-gap: 0em;
        -webkit-column-gap: 0em;
        column-gap: 0em;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .nav-name {
        display: none;
    }

    .avatar:hover {

    }
}

@media (max-width: 960px) {

    .project-item {
        max-width: 100%;
    }

}
