<div class="links">
    <a href="/" alt="Home">
        <i class="fas fa-home"></i>
        <span class="font-small3">HOME</span>
    </a><a href="/media/kalindu_de_costa_resume.pdf" target="_blank" alt="Resume">
        <i class="fas fa-file-alt"></i>
        <span class="font-small3">RESUME</span>
    </a>
    <a href="http://github.com/kalindudc" target="_blank"><i class="fab fa-github"></i><span class="font-small3">GITHUB</span></a>
    <a href="https://www.linkedin.com/in/kdecosta/" target="_blank"><i class="fab fa-linkedin-in"></i><span class="font-small3">LINKEDIN</span></a>
    <!-- <a href="https://twitter.com/KalinduDC" target="_blank"><i class="fab fa-twitter"></i><span class="font-small3">@KalinduDC</span></a>
    <a href="https://www.instagram.com/kalindudc/" target="_blank"><i class="fab fa-instagram"></i><span class="font-small3">@kalindudc</span></a> -->
    <a href="mailto:kalindu&commat;kdecosta&period;com" target="_blank"><i class="fas fa-envelope"></i><span class="font-small3">kalindu&commat;kdecosta&period;com</span></a>
</div>
<div class="footer font-small2 load-hidden">
  Kalindu De Costa <i class="far fa-copyright"></i> All rights reserved. {year}
</div>
